<tr class="report">
  <td colspan="3" class="report">
    <details>
      <summary><b>Exception:</b> {{ExceptionMessage}}</summary>
      <p>
        <code><b>Stack Trace:</b><br>
          {{StackTrace}}
        </code>
        {{Cause}}
      </p>
    </details>
  </td>
</tr>